{% extends "page.html" %}
{% import 'macros/form.html' as form %}

{% block title -%}
    {% set ckan_title=super() -%}
    {% if query -%}
        {% trans -%}
            "{{ query }}" Semantic Search Result - Datasets - {{ ckan_title }}
        {%- endtrans %}
    {%- else -%}
        {% trans -%}
            Semantic Search - Datasets - {{ ckan_title }}
        {%- endtrans %}
    {%- endif %}
{%- endblock %}


{% block primary_content %}
    {% if query %}
        <h1>{% trans %}Semantic Search Results for "{{ query }}"{% endtrans %}</h1>
    {% else %}
        <h1>{% trans %}Semantic Search{% endtrans %}</h1>
    {% endif %}

    <section>
        <form method="GET">
            {# Adapted from CKAN's snippets/search_form #}
            <div class="input-group search-input-group">
                {% set search_label = _('Search datasets…') %}
                <input
                        aria-label="{{ search_label }}"
                        class="form-control"
                        id="q"
                        type="search"
                        name="q"
                        value="{{ query }}"
                        placeholder="{{ search_label }}"
                />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" value="search">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

        <p>
            <a
                href="{% url_for controller='package', action='search', q=query %}"
            >
                {% trans %}Switch to normal search{% endtrans %}
            </a>
        </p>
    </section>
    {% if search and search.count %}
        <p><strong>
            {% trans count=search.count %}
                The search returned {{ count }} dataset.
            {% pluralize %}
                The search returned {{ count }} datasets.
            {% endtrans %}
        </strong></p>

        <hr/>

        {% snippet 'snippets/package_list.html', packages=search.results %}
    {% elif search and not search.count %}
        <p>{% trans %}The search didn't match any datasets.{% endtrans %}</p>
    {% endif %}
{% endblock %}

{% block secondary_content %}
    {% if search %}
        <h2>{% trans %}Matching concepts{% endtrans %}</h2>

        <ul>
            {% for concept in search.concepts %}
                {% set sim = (concept.similarity*100)|round|int %}
                {% set label = concept.label %}
                <li>{% trans %}{{ label }} ({{ sim }}%){% endtrans %}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
